h3 Your watching list
ul
  li(v-repeat="watchee : watchees") {{watchee.name()}}

fieldset
  legend Add a watch
  input(name="watchee" placeholder="Name" v-model="add-watchee-name" v-on="keyup:add | key enter")
  input(name="ep" placeholder="Episode" v-model="add-watchee-ep" v-on="keyup:add | key enter")